@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    src: url("../fonts/PTSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    src: url("../fonts/PTSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Russo One';
    font-weight: 400;
    src: url("../fonts/RussoOne-Regular.ttf") format("truetype");
}