$header-bg: #f16b69;
$header-cart-color: #466ecb;
$header-cart-border: #97aae1;

$primary-color: #97aae1;
$secondary-color: #f16b69;
$tertiary-color: #466ecb;

$btn-primary: #97aae1;
$btn-primary-hover: darken(#97aae1, 5%);
$btn-primary-active: darken(#97aae1, 10%);
$btn-primary-outline-hover: darken(#fff, 5%);
$btn-primary-outline-active: darken(#fff, 10%);
$btn-secondary: #f16b69;
$btn-secondary-hover: darken(#f16b69, 5%);
$btn-secondary-active: darken(#f16b69, 10%);

$text-gray: #4f4f4f;
$text-blue: #6b89d5;
$text-blue-dark: #466ecb;
$text-red: #c62626;
$text-green: #0e5d62;

$border-color: #bdbdbd;

$lg-width: 991px;
$md-width: 767px;
$sm-width: 575px;