@import "./variables.scss";

.home {
    &__special {
        overflow: hidden;
        border: 1px solid $border-color;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 32px;

        img {
            width: 100%;
        }
    }

    &-news {
        border: 1px solid $border-color;
        background: #fff;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 24px;
        height: calc(100% - 32px);

        .news {
            &__title {
                font-family: "Russo One", sans-serif;
                font-size: 20px;
                color: $text-red;
                margin-bottom: 16px;
                font-weight: 400;
            }

            &-list {
                &__item {
                    margin-bottom: 24px;

                    a {
                        display: block;
                        color: $text-blue-dark;
                        font-size: 13px;
                        font-weight: bold;
                        margin-bottom: 4px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}