@import "./variables.scss";

.product {
    &-images {
        display: flex;
        justify-content: space-between;

        &__large {
            max-width: 445px;
            margin-right: 30px;
        }

        &__list {
            &>div {
                width: 65px;
                margin-bottom: 20px;
                cursor: pointer;
                outline: 1px solid transparent;
                transition: outline 0.1s ease;

                &.active {
                    outline-color: $tertiary-color;
                }

                &:hover {
                    outline-color: $tertiary-color;
                }
            }
        }

        img {
            width: 100%;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
            font-family: Russo One;
            font-size: 32px;
            text-transform: uppercase;
            color: $text-red;
            margin-bottom: 16px;
        }

        &__description {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 24px;
        }

        &__cost {
            font-family: Russo One;
            font-size: 32px;
            text-transform: uppercase;
            margin-bottom: 23px;
        }
    }

    &-content {
        margin-top: 24px;

        p {
            margin-bottom: 24px;
        }
    }
}